<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Race Room Server</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Welcome to the Race Room Server!</h1>
    <p>This page is served using Flask</p>
    <div>
        <ul>
            <li><a href="/status">Status</a></li>
            <li><a href="/get-telemetry?year=2024&trackName=Monaco&session=Q&driverName=VER">Get Telemetry</a></li>
            <p>To use <strong>get-telemetry/</strong> need to provide year, track name, session and driver name <br><strong>(es. /get-telemetry?year=2024&trackName=Monaco&session=Q&driverName=VER)</strong></p>
        </ul>
    </div>
</body>
</html>